annotated-types==0.6.0
asgiref==3.7.2
click==8.1.7
coverage==7.4.0
distlib==0.3.7
Django==5.0
django-extensions==3.2.3
django-ninja==1.1.0
filelock==3.12.4
gunicorn==21.2.0
h11==0.14.0
packaging==23.2
platformdirs==3.10.0
pydantic==2.5.3
pydantic_core==2.14.6
pydot==1.4.2
pyparsing==3.1.1
sqlparse==0.4.4
typing_extensions==4.9.0
uvicorn==0.25.0
virtualenv==20.24.5
whitenoise==6.6.0
