{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
  {% if user.is_authenticated %}
    {% if user|user_in_group:'Parole Officer Role' %}
      {% include 'po_landing.html' %}
    {% elif user|user_in_group:'Mentor Role' %}
      <h2> Welcome {{ model_instance.first_name }} {{ model_instance.last_name }}! </h2> 
      <p> Here are the latest Mentor actions. </p>
      {% if model_name == 'mentor' %}
        <h2>Your Returning Citizens</h2>
        {% if mentor_care_teams_data %}
          <ul>
            {% for rc in mentor_care_teams_data.care_teams %}
              <li>{{ rc.returning_citizen_name }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <p>No care teams found.</p>
        {% endif %}      
      {% endif %}  
    {% elif user|user_in_group:'Returning Citizen Role' %}
      {% include 'rc_landing.html' %}
    {% else %}
      <p> Welcome to Total Reentry Solution</p>
    {% endif %}    
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
  {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
  {% endif %}
</div>
{% endblock %}
